* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    background-color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-top: 2px solid #fff;
    font-size: 14px;
    color: #888;
}
.container {
    display: flex;
    flex: 1;
}